.book_bg {
    display: flex;
    flex-direction: row;
    background-color: rgb(213, 216, 218);
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    align-content: center;
}

.book {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}